body{
  text-align: justify;
}

/* Banner-img */
.banner-image {
  background-image: url("https://i.ibb.co/gg3ThLc/Resumes-BG.jpg");
  /* background-size: 100% 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

/* Heading */
.Compny-Title {
  text-align: center;
  margin: auto;
  font-weight: 400;
}

.main-container {
  padding: 20px;
  margin: 0px;
  text-align: center;
}

.title {
  margin: 20px;
}

.row {
  margin: 0px;
}
/* Right section */
.about-body {
  text-align: justify;
}
.skill {
  background: #eee;
  padding: 11px 20px;
  border-radius: 4px;
  margin: 10px 10px 0 0;
  color: #666;
  overflow: hidden;
  display: inline-block;
  max-width: 515px;
}

/* Left section */
.Left-section {
  border-right: 2px solid #eee;
}

.Candidate-card{

  text-align: center;
  margin: auto;
  border: 0px;
}
.Candidate-img {
  border-radius: 50%;
}

.sticky-top{
  top: 66px;
}